table {
	border-collapse: collapse;
	float: left;
}

#svgDiv {
	border: 4px solid #bbb;
	position: fixed;
	padding: 5px;
	display: inline;
	background-color: white;
	cursor: move;
}

#tablesDiv, svg {
	float: left;
}

td.selected {
	background: #ddd;
}

.contentTable {
	border: 0;
}


th, td {
	padding: 5px 10px;
	cursor: pointer;
	border-width: 1px;
	border-style: solid;
	border-color: black;
}

.contentCell {
	padding: 0;
}

.pep.highlighted {
	background-color: #E5F6FF;
	fill: #E5F6FF;
}

.prot.highlighted {
	background-color: #FFEBE5;
	fill: #FFEBE5;
}