<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         point="org.knime.dynamic.node.generation.dynamicNodes">
      <dynamicNodeFolder
            function="js"
            name="OpenMS Javascript Views"
            path="nodes/">
      </dynamicNodeFolder>
   </extension>
   <extension
         point="org.knime.workbench.repository.nodes">
   </extension>
   <extension
         point="org.knime.js.core.webResources">
      <webResourceBundle
            debug="true"
            name="bioJS"
            usesDefine="false"
            version="1.0"
            webResourceBundleID="bioJS">
         <webResource
               relativePathSource="dependencies/bioJS/"
               relativePathTarget="dependencies/bioJS/">
         </webResource>
         <importResource
               relativePath="dependencies/bioJS/sequence-viewer.js"
               type="JAVASCRIPT">
         </importResource>
         <webDependency
               webResourceBundleID="handlebars">
         </webDependency>
      </webResourceBundle>
      <webResourceBundle
            debug="true"
            name="dynaTable"
            usesDefine="false"
            version="de.openms.proteinviewer.webResourceBundle1"
            webResourceBundleID="dynaTable">
         <webResource
               relativePathSource="dependencies/dynaTable/"
               relativePathTarget="dependencies/dynaTable/">
         </webResource>
         <webDependency
               webResourceBundleID="jQuery_1.11.0">
         </webDependency>
         <importResource
               relativePath="dependencies/dynaTable/jquery.dynatable.js"
               type="JAVASCRIPT">
         </importResource>
         <importResource
               relativePath="dependencies/dynaTable/jquery.dynatable.css"
               type="CSS">
         </importResource>
      </webResourceBundle>
      <webResourceBundle
            debug="true"
            exports="Handlebars"
            name="handlebars"
            usesDefine="true"
            version="4.0.5"
            webResourceBundleID="handlebars">
         <webResource
               relativePathSource="dependencies/handlebars/handlebars-v4.0.5.js"
               relativePathTarget="dependencies/handlebars/handlebars-v4.0.5.js">
         </webResource>
         <importResource
               relativePath="dependencies/handlebars/handlebars-v4.0.5.js"
               type="JAVASCRIPT">
         </importResource>
      </webResourceBundle>
      <webResourceBundle
            debug="false"
            name="bootstrap"
            usesDefine="false"
            version="3.3.5"
            webResourceBundleID="bootstrap">
         <webResource
               relativePathSource="dependencies/bootstrap/"
               relativePathTarget="dependencies/bootstrap/">
         </webResource>
         <importResource
               relativePath="dependencies/bootstrap/bootstrap.min.css"
               type="CSS">
         </importResource>
      </webResourceBundle>
      <webResourceBundle
            debug="true"
            description="Lorikeet spectrum viewer"
            name="lorikeet"
            usesDefine="false"
            version="master"
            webResourceBundleID="lorikeet">
         <webResource
               relativePathSource="dependencies/lorikeet/"
               relativePathTarget="dependencies/lorikeet/">
         </webResource>
         <importResource
               relativePath="dependencies/lorikeet/specview.js"
               type="JAVASCRIPT">
         </importResource>
         <webDependency
               webResourceBundleID="jQuery_1.11.3">
         </webDependency>
         <webDependency
               webResourceBundleID="jQueryUi_1.10.4">
         </webDependency>
         <webDependency
               webResourceBundleID="lorikeet-aminoacid">
         </webDependency>
         <webDependency
               webResourceBundleID="lorikeet-internal">
         </webDependency>
         <webDependency
               webResourceBundleID="lorikeet-ion">
         </webDependency>
         <webDependency
               webResourceBundleID="lorikeet-jquery-flot">
         </webDependency>
         <webDependency
               webResourceBundleID="lorikeet-jquery-flot-selection">
         </webDependency>
         <webDependency
               webResourceBundleID="lorikeet-peptide">
         </webDependency>
      </webResourceBundle>
      <webResourceBundle
            debug="true"
            description="lorikeet-aminoacid module"
            name="lorikeet-aminoacid"
            usesDefine="false"
            version="master"
            webResourceBundleID="lorikeet-aminoacid">
         <webResource
               relativePathSource="dependencies/lorikeet/"
               relativePathTarget="dependencies/lorikeet/">
         </webResource>
         <importResource
               relativePath="dependencies/lorikeet/aminoacid.js"
               type="JAVASCRIPT">
         </importResource>
      </webResourceBundle>
      <webResourceBundle
            debug="true"
            description="lorikeet-internal module"
            name="lorikeet-internal"
            usesDefine="false"
            version="master"
            webResourceBundleID="lorikeet-internal">
         <webResource
               relativePathSource="dependencies/lorikeet/"
               relativePathTarget="dependencies/lorikeet/">
         </webResource>
         <importResource
               relativePath="dependencies/lorikeet/internal.js"
               type="JAVASCRIPT">
         </importResource>
      </webResourceBundle>
      <webResourceBundle
            debug="true"
            description="lorikeet-ion module"
            name="lorikeet-ion"
            usesDefine="false"
            version="master"
            webResourceBundleID="lorikeet-ion">
         <webResource
               relativePathSource="dependencies/lorikeet/"
               relativePathTarget="dependencies/lorikeet/">
         </webResource>
         <importResource
               relativePath="dependencies/lorikeet/ion.js"
               type="JAVASCRIPT">
         </importResource>
      </webResourceBundle>
      <webResourceBundle
            debug="true"
            description="lorikeet-jquery-flot module"
            name="lorikeet-jquery-flot"
            usesDefine="false"
            version="master"
            webResourceBundleID="lorikeet-jquery-flot">
         <webResource
               relativePathSource="dependencies/lorikeet/"
               relativePathTarget="dependencies/lorikeet/">
         </webResource>
         <importResource
               relativePath="dependencies/lorikeet/jquery.flot.js"
               type="JAVASCRIPT">
         </importResource>
      </webResourceBundle>
      <webResourceBundle
            debug="true"
            description="lorikeet-jquery-flot-selection module"
            name="lorikeet-jquery-flot-selection"
            usesDefine="false"
            version="master"
            webResourceBundleID="lorikeet-jquery-flot-selection">
         <webResource
               relativePathSource="dependencies/lorikeet/"
               relativePathTarget="dependencies/lorikeet/">
         </webResource>
         <importResource
               relativePath="dependencies/lorikeet/jquery.flot.selection.js"
               type="JAVASCRIPT">
         </importResource>
      </webResourceBundle>
      <webResourceBundle
            debug="true"
            description="lorikeet-peptide module"
            name="lorikeet-peptide"
            usesDefine="false"
            version="master"
            webResourceBundleID="lorikeet-peptide">
         <webResource
               relativePathSource="dependencies/lorikeet/"
               relativePathTarget="dependencies/lorikeet/">
         </webResource>
         <importResource
               relativePath="dependencies/lorikeet/peptide.js"
               type="JAVASCRIPT">
         </importResource>
      </webResourceBundle>
      <webResourceBundle
            debug="true"
            name="de.openms.knime.dynamicJSViewers.webResourceBundle1"
            usesDefine="false"
            version="de.openms.knime.dynamicJSViewers.webResourceBundle1"
            webResourceBundleID="de.openms.knime.dynamicJSViewers.webResourceBundle1">
         <webResource
               relativePathSource="de.openms.knime.dynamicJSViewers.webResource1">
         </webResource>
         <webDependency
               webResourceBundleID="de.openms.knime.dynamicJSViewers.webDependency1">
         </webDependency>
      </webResourceBundle>
   </extension>
   <extension
         point="org.knime.workbench.repository.categories">
      <category
            description="Visualizations for mass spectrometry data"
            icon="nodes/js.png"
            level-id="Visualization"
            locked="false"
            name="Visualization"
            path="community/OpenMS">
      </category>
   </extension>

   <!-- This is an example for providing an own category 
      <extension
         point="org.knime.workbench.repository.categories">
      <category
            description="Category containing my nodes"
            icon="icons/default.png"
            level-id="myNodes"
            name="My nodes"
            path="/"/>
   </extension>
   -->
   
   
</plugin>
